{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}security.login.login{% endtrans %}</h1>

{#    {{ form_start(login_form) }}#}
{#    {{ form_widget(login_form) }}#}
    <input type=submit value=" Envoyer
    "/>
{#    {{ form_end(edit_form) }}#}

{% endblock %}
