{% extends 'base.html.twig' %}

{% block body %}
    <div class="row heading-of-list">
    			<div class="col-xs-6">
                    <h1>Enregistrements de ventes</h1>
                </div>
    			<div class="col-xs-6">
                    <a class="btn btn-primary" href="{{ path('sellrecord_new') }}">Nouvel enregistrement</a>
                </div>
    </div>



    <table class="table-responsive table-striped table table-bordered table-light">
        <thead>
        <tr>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sellRecord in sellRecords %}
            <tr>
                <td>
                    <a class="btn btn-primary"
                            href="{{ path('sellrecord_show', { 'date': sellRecord.date }) }}">{{ sellRecord.date }}</a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary"
                                    href="{{ path('sellrecord_show', { 'date': sellRecord.date }) }}">voir
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary"
                                    href="{{ path('sellrecord_edit', { 'date': sellRecord.date }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('sellrecord_new') }}">Nouveau sellRecord</a>
        </li>
    </ul>
{% endblock %}
