{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id"
                content="938689189350-frtrg93bnva4b3p7c1al880mi3ts5i35.apps.googleusercontent.com">
        <title>{% block title %} {% trans %}menu.title{% endtrans %} - Fiche de compte dynamique{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
<body>

{% block navigation %}
{% endblock %}
<div id="bodyland">
    {% block bigMain %}

        {% include 'default/header.html.twig' %}
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% include 'default/footer.html.twig' %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>


    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://piwik.cipherbliss.com/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


{% endblock %}
</body>
</html>
