{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seriefestival</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serieFestival.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ serieFestival.name }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if serieFestival.dateCreation %}{{ serieFestival.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seriefestival_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seriefestival_edit', { 'id': serieFestival.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
