<div class="product-values">
    <div class="row">
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-check-circle fa-3x"></i>
            <h2 class="text-center">{% trans %}home.specs.free{% endtrans %}</h2>
            <p>{% trans %}home.specs.free_text{% endtrans %}</p>
        </div>
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-random fa-3x"></i>
            <h2>{% trans %}home.specs.flex{% endtrans %}</h2>
            <p>{% trans %}home.specs.flex_text{% endtrans %}</p>
        </div>
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-truck fa-3x"></i>
            <h2>{% trans %}home.specs.portable{% endtrans %}</h2>
            <p>{% trans %}home.specs.portable_text{% endtrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-rotate-left fa-3x"></i>

            <h2>{% trans %}home.specs.open{% endtrans %}</h2>
            <p>{% trans %}home.specs.open_text{% endtrans %}
            <ul>
                <li>
                    <a href="https://framagit.org/tykayn/caisse-bliss">gitlab.</a>
                </li>
                <li>
                    <a href="https://www.cipherbliss.com">CipherBliss</a>
                </li>
            </ul>
            </p>
        </div>
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-pie-chart fa-3x"></i>
            <h2>{% trans %}home.specs.stats{% endtrans %}</h2>
            <p>
                {% trans %}home.specs.stats_text{% endtrans %}
            </p>
        </div>
        <div class="col-xs-12 col-md-4 text-center product-values-block">
            <i class="fa fa-heart-o fa-3x"></i>
            <h2>{% trans %}home.specs.data{% endtrans %}</h2>
            <p>{% trans %}home.specs.data_text{% endtrans %}</p>
        </div>
    </div>
</div>
