{% extends 'base.html.twig' %}

{% block bigMain %}
    <div style="padding:2rem;">
        <h1>tadam test de mail</h1>
        <p>


            le contenu Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque exercitationem
            provident quae quod soluta sunt velit. Architecto, assumenda deserunt expedita laudantium nemo voluptatem.
            Atque commodi est iste itaque mollitia. Consequatur cumque cupiditate eveniet facilis illo illum impedit
            itaque omnis placeat quaerat, quia quidem ratione saepe similique sunt veniam veritatis.
        </p>
    </div>
{% endblock %}
