{% block loginchoices %}
    <div class="loginland  ">

        <div class="login-choices">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div id="menu-dashboard">
                            <ul class="nav">
                                <li>
                                    <a href="{{ path('homepage') }}" class="btn btn-default logo-home">
                                        <i class="fa fa-home"></i>
                                        {% trans %}menu.title{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'dashboard' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('dashboard') }}">
                                        <i class="fa fa-list"></i>
                                        {% trans %}menu.dashboard{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'productcategory_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %} "
                                            href="{{ path('productcategory_index') }}">
                                        <i class="fa fa-file-archive-o"></i>
                                        {% trans %}menu.categories{% endtrans %}
                                        <span class="badge">
                                            {{ app.user.categories|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'product_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %} "
                                            href="{{ path('product_index') }}"
                                    >
                                        <i class="fa fa-gears"></i>
                                        {% trans %}menu.products{% endtrans %}
                                        <span class="badge">
                                                {{ app.user.products|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="menu_festivals" class="btn {% if app.request.attributes.get('_route') == 'festival_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}
                                        " href='{{ path('festival_index') }}'
                                    >
                                        <i class="fa fa-th-large"></i>

                                        {% trans %}menu.festivals{% endtrans %}
                                        <span class="badge">
                                            {{ app.user.festivals|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="menu_series" class="btn {% if app.request.attributes.get('_route') == 'seriefestival_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}
                                        " href='{{ path('seriefestival_index') }}'
                                    >
                                        <i class="fa fa-th-large"></i>

                                        {% trans %}menu.series{% endtrans %}
                                        <span class="badge">
                                            {{ app.user.seriesFestivals|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'history' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('history') }}"
                                    >
                                        <i class="fa fa-clock-o"></i>
                                        {% trans %}menu.history{% endtrans %}
                                    </a>
                                </li>
                                <li>

                                    <a class="btn {% if app.request.attributes.get('_route') == 'import' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('import') }}"
                                    >
                                        <i class="fa fa-arrow-circle-o-up"></i>

                                        {% trans %}menu.import{% endtrans %}
                                    </a>
                                </li>
                                <li>

                                    <a  id="menu_previsionnel" class="btn {% if app.request.attributes.get('_route') == 'previsionnel' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('previsionnel') }}"
                                    >
                                        <i class="fa fa-forward"></i>

                                        {% trans %}menu.future{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="introjs_start">
                                        <i class="fa fa-play"></i>
                                        {#                                    {% trans %}menu.introjs{% endtrans %}#}
                                        Visite guidée
                                    </a>
                                    {% if  app.user.username == 'demo' %}
                                        <div class="text-warning  alert-sm marged ">
                                            <i class="fa fa-info-circle"></i>
                                            <sub> Ceci est un compte de démonstration. Créez votre compte personnel dès
                                                maintenant. </sub>
                                        </div>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3 text-sm-left text-md-right user-info-part">

                        <button class="btn btn-default visible-xs pull-right" id="menu_button">
                            <i class="fa fa-bars"></i>
                            Menu
                        </button>

                        {% trans %}user.greet{% endtrans %}
                        <a href="#" class="user-info-link">
                            <i class="fa fa-user"></i>
                            {{ app.user.username }}

                        </a>
                        |
                        <a class="btn btn-default" href="#">

                            {% trans %}layout.logout{% endtrans %}
                        </a>
                    </div>
                </div>


            {% else %}


                <div class="text-right pull-right">
                    <a class="btn btn-primary"
                            href="#">
                        <i class="fa fa-key"></i>
                        {{ 'layout.login'|trans }}</a>
                    <a class="btn btn-default"
                            href="#">Inscription
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock loginchoices %}
