{% block bigMain %}

    {% include 'default/header.html.twig' %}

    {% block body %}
        <div class="main-screen" id="homepage">
            <div id="welcome">
                <section class="bg-accessories">
                    <div class="bg-shader">
                        <div class="container main-section">
                            <div class="row">
                                <div class="col-xs-12 padded-v">
                                    <h1 class="text-center">
                                        {#<i class="fa fa-circle-o-notch logo-main"></i>#}
                                        {% trans %}menu.title{% endtrans %}
                                    </h1>
                                </div>
                                <div class="col-xs-12 col-md-6 padded-v">
                                    <div class="description">
                                        {% trans %}home.main_description{% endtrans %}
                                    </div>

                                </div>
                                <div class="try col-xs-12 col-md-6">
                                    <br>
                                    <div class="row">
                                        <div class=" padded text-right">
                                            <a class="btn btn-primary"
                                                    href="#"
                                                    class="btn btn-primary">
                                                {% trans %}home.try{% endtrans %}
                                            </a>
                                        </div>
                                        <div class="hint padded">
                                            <sub>{% trans %}home.demo_hint{% endtrans %}</sub>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </section>

            </div>
            <section class="bg-girl">
                <div class="bg-shader">
                    <div class="container">

                        {% include 'default/description-app.html.twig' %}
                        <div class="try">
                            <fieldset class="bg-dark padded">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <a class="btn btn-primary" href="{{ path('dashboard') }}"
                                                class="btn btn-success">
                                            {% trans %}home.try{% endtrans %}
                                        </a>
                                        <p>
                                            {% trans %}home.demo_hint{% endtrans %}
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <a class="btn btn-primary" href="#">
                                            <i class="fa fa-user"></i>
                                            {% trans %}layout.register{% endtrans %}
                                        </a>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-color">
                <div id="contact" class="text-center">
                    <i class="fa fa-envelope-open-o"></i>
                    contactez-moi pour tout renseignement:
                    <a href="mailto:contact@cipherbliss.com"> par email</a>
                    , Telegram
                    <a href="https://t.me/tykayn">
                        @tykayn
                    </a>
                    , ou sur Mastodon
                    <a href="https://mastodon.cipherbliss.com/@tykayn">
                        <img src="https://en.gravatar.com/userimage/53061325/811d383aa2ebb8d2d83baab7da5f4a7b.jpeg"
                                alt="avatar Mastodon" width="50" height="50"> @tykayn
                    </a>
                </div>

            </section>
        </div>
    {% endblock %}
    {% include 'default/footer.html.twig' %}

{% endblock %}
