{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="padded">

                <h1>
                    <i class="fa fa-key"></i>
                    Se connecter
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="visible-xs">
                <hr>
            </div>
            <div class="padded">
                <p>
                    <a class="btn btn-info btn-block" href="#">
                        Créer un compte
                    </a>
                    <a class="btn btn-warning btn-block" href="#">
                        Mot de passe oublié?
                    </a>
                    <a href="#" id="demo_login_btn" class="btn btn-block btn-primary">
                        <i class="fa fa-arrow-circle-right"></i>
                        Se connecter à la démo</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <div class="padded">

                {% if error %}
                    <div class="alert alert-info">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="#" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <div>

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" class="input-lg" name="_username" value="{{ last_username }}"
                                required="required"
                                autocomplete="username"/>
                    </div>
                    <div>

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" class="input-lg" name="_password" required="required"
                                autocomplete="current-password"/>

                    </div>
                    <div class="padded-v">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input class="btn btn-success btn-block btn-lg" type="submit" id="_submit" name="_submit"
                            value="{{ 'security.login.submit'|trans }}"/>
                </form>
            </div>
        </div>


    </div>

{% endblock %}
