
.main-section {
  padding: 1rem;
  display: flex;
  color: $light;
  justify-content: center;
  h1 {
    font-size: 4em;
  }
  h2 {
    color: $light !important;
  }
  > div {
    height: 80vh;
    padding-top: 25vh;
    max-widht: 50%;
  }
}

.product-values {
  color: $light;
  padding: 4rem;
  padding-top: 25vh;
}

#homepage {
  h2, h3, h4, h5, h6 {
    color: $light;
  }
  font-size: 1.5rem;
}
