@import '../split/custom_vars';

body {
  color: $all-text-color;
  font-family: "Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}


#wrapper {
  min-height: 100vh;
}

.main-screen {
  min-height: 80vh;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.5);
}

.bg-shader {
  @extend .bg-dark;
  height: 100vh;
}

.bg-img {
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  min-height: 100vh;
}

.bg-accessories {
  @extend .bg-img;
  background-image: url('../../img/accessories.jpg');
}

.bg-girl {
  @extend .bg-img;
  background-image: url('../../img/girl_computer.jpg');
}

.bg-color {
  background: $deepblue;
  color: $light;

  a {
    color: $lightblue;
  }

  padding: 1rem;
}

.logo-main {
  color: $logo-color;
}

.big-footer {
  background: $dark;
  color: $light;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  position: static;
  width: 100%;
  bottom: 0;
  display: block;
  float:left;
}

thead {
  background: $darkblue;
  color: $light;
}

ul {
  padding: 0;
}

label {
  min-width: 20em;
  display: inline-block;
}

.try {
  margin: 0 auto;
}

.padded {
  padding: 1rem;

  &-v {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.marged {
  margin: 1rem;

  &-v {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-h {
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.bgwarning {
  background: orange;
  color: #ee5555;
}

.bgdanger {
  background: indianred;
  color: #333;
  font-weight: bold;
}

.bgsuccess {
  background: greenyellow;
  color: #000000;
}

.previsionnel {
  font-size: 1rem;

  label {
    min-width: 220px;
  }

  .big-number {
    font-size: 1.85rem;
    color: #2B2d42;
  }
}


html, h1, h2, h3, h4, h5, h6 {
  font-family: Source Sans, Arial, Helvetica, sans-serif;
}

input {
  width: auto;
  min-width: 2em;
}

#menu-dashboard {
  background: $dark;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 13vw;
  min-width: 300px;
  overflow-x: auto;
  z-index: 10;

  .nav {
    width: 100%;
    min-width: 300px;
    display: block;
    border-right: solid 2px mix($dark, $grey);

    .btn {
      color: $light;
    }

    .btn-default {
      color: $light;

      &:hover {
        background: mix($deepblue, $light);
        color: $dark;
        font-weight: 600;
      }
    }
  }

  i.fa {
    float: left;
    margin-right: 1em;
    color: $light;
  }
}

.nav > li > a:hover, .nav > li > a {
  &:focus {
    background: transparent;
    border: none;
    color: $lightblue;
  }

  &:focus {
    background: transparent;
    border: none;
    color: $lightblue;
  }
}

.btn {
  border: 0;
}

.btn-default {
  background: transparent;

}

.btn-success {
  background-color: $deepblue;
  font-weight: 800;
}

tr {
  &.bg-success {
    td {
      background: greenyellow;
    }
  }
}

.table {
  > div {
    &:hover {
      background: #ccc;
    }
  }
}

.table > thead > tr > td,
table td {
  padding: 0.5em;
}

.login-fosub {
  .padded {
    padding: 3em;
  }

  input[type=submit] {
    background: $primary;
    color: $light;
    display: block;
    margin-top: 1em;
    padding: 1em;
    border: 0;
    width: 100%;

    &:hover {
      background: $lightblue;
    }
  }
}

#fos_user_profile_form {
  div {
    margin: 0.5em auto;
  }
}

#bodyland {
  min-height: 100vh;
  .container {
    min-height: 90vh;
  }

  > .row {
    min-height: 90vh;
    // for crud forms
    table{
      thead{
        th{
          padding: 0.5rem;
        }
      }
      + ul{
        a {
          margin-top: 1em;
        }
      }
    }
  }
  table {
    margin-top: 2em;
  }
}

#menu_button {
  z-index: 10;
  position: absolute;
  right: 1em;
  top: -2px;
  font-size: 1rem;
}

.heading-of-list {
  a {
    margin-top: 1em;
  }
}

.hint {
  margin-top: 1em;
}
