{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de série de festival</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('seriefestival_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
