<div class="caisse-main-box">

    {% verbatim %}
    <div id="not_loaded" ng-if="!initLoadDone">
        <div class="well text-center">
         <i class="fa fa-refresh fa-spin fa-3x"></i> Chargement en cours de vos produits
        </div>
    </div>
    {% endverbatim %}
    {% include 'logged/angular/loaded-caisse.html.twig' %}
</div>
