<div id="festival-listing-options">
    {% verbatim %}
 <!--        options-->
                <div class="row marged-v" ng-if="simpleDisplay">
                    <button class="btn btn-success" ng-click="toggleSimpleDisplay()">
                            <i class="fa fa-bars"></i> Affichage simple <i class="fa fa-check-circle"></i>
                    </button>
                </div>
                 <div class="row marged-v" ng-if="! simpleDisplay">
                <div class="col-xs-12 col-md-6" id="main_options">
                <button class="btn btn-disabled" ng-click="toggleSimpleDisplay()">
                  <i class="fa fa-bars"></i> Affichage simple
                </button>
                    <button
                            title="la vente express vous permet d'enregistrer une vente pour un seul article sans remplir le formulaire de détail"
                            class="btn"
                            ng-class="{'btn-success': show_config.expressSelling, 'btn-disabled':! show_config.expressSelling}"
                            ng-click="show_config.expressSelling = !show_config.expressSelling">
                        <i class="fa fa-shopping-cart"></i>
                        vente express
                        <span ng-if=show_config.show_config.expressSelling>
                                    <i class="fa fa-check-circle"></i></span>
                    </button>
                    <button
                            title="montrer le nombre d'objets restants dans les stocks"
                            class="btn"
                            ng-class="{'btn-success': show_config.stock_count, 'btn-disabled':!show_config.stock_count}"
                            ng-click="show_config.stock_count = !show_config.stock_count">
                        <i class="fa fa-shopping-cart"></i>
                        stocks
                        <span ng-if=show_config.stock_count>
                                    <i class="fa fa-check-circle"></i></span>
                    </button>
                    <button
                            title="montrer le nombre d'objets restants dans les stocks"
                            class="btn"
                            ng-class="{'btn-success': show_config.sold, 'btn-disabled':!show_config.sold}"
                            ng-click="show_config.sold = !show_config.sold">
                        <i class="fa fa-shopping-cart"></i>
                        vendus
                        <span ng-if=show_config.sold>
                                    <i class="fa fa-check-circle"></i>
                                </span>
                    </button>
                    </div>
                    </div>
{% endverbatim %}
</div>
