{% extends 'base.html.twig' %}
{% block body %}
<div id="wrapper">
    <h1>Appli angular embarquée</h1>
    <script href="{{ asset('/assets/js/build-frontend-submodule/main.js') }}"></script>
    <div ng-app="tktest"></div>
</div>
{% endblock %}