{% verbatim %}

<div id="choice-categories" class="choice-categories well" ng-if="categories.length">
    <h2>
        <i class="fa-eye fa"></i>
        Visibilité des
        {{ categories.length - categoriesVisibleCount() }} /
        {{ categories.length }} catégories
    </h2>

    <div ng-repeat="c in categories">
        <div class="btn btn-block"
                ng-class="{'btn-success': !c.hidden}"
                ng-click="c.hidden = !c.hidden">
            {{ c.name }}

            <span ng-if="c.hidden">(caché)</span>
        </div>
    </div>

</div>
<div class="well" ng-if="!categories.length">
    <i class="fa fa-info"></i>
    Aucune catégorie enregistrée
</div>
{% endverbatim %}
