{% verbatim %}
<div class="current-selling">
    <hr>
    <form>

        <div class="new-display">
        <div class="row">

</div>
        <div class="row">
        <div class="col-xs-12 col-sm-6">
        <button class="btn btn-warning btn-remove-all marged-v" ng-click="removeAll()" ng-disable="!CurrentSellingTotal()">
                   <i class="fa fa-trash"></i> enlever tout
            </button>
            </div>
        </div>


            <div ng-repeat="group in activeSellingFiltered track by $index">
                <div class="row">
                <div class="col-xs-2">
                    <span class="btn btn-warning remove-item"
                                ng-click="removeGroupeProducts(group.groupId)">
                        <i class="fa fa-trash"></i>
                    </span>
                </div>
                    <div class="col-xs-10">
                            <input class="group-name" type="text" ng-model="group.name">
                    </div>
                     </div>
                     <div class="row">
                    <div class="col-xs-7 col-xs-offset-2 ">
                    <span ng-if="group.count > 1">

                      <strong>
                            {{group.unitPrice}}
                       € </strong>
</span>
                      <span class="badge badge-default" ng-if="group.count">
                         <i class="fa fa-times"></i> {{group.count}}
                      </span>
                    </div>
                    <div class="col-xs-3 text-right">
                        <strong>
                        {{group.totalPrice}}
                        € </strong>

                    </div>
                </div>
            </div>
        </div>
        <hr>

                {% endverbatim %}
                        {% include 'logged/angular/totals.html.twig' %}
                        {% include 'logged/angular/validate-button.html.twig' %}
                        {% include 'logged/angular/pause-selling.html.twig' %}


</form>

</div>

</div>
