{% verbatim %}
<div class="horizontal-land">
    <div class="super-large" style="min-width: {{(1+categories.length) * 400}}px">
        <div class="category-listing one-category col-xs-12 col-sm-4 " ng-repeat="c in categories"
        ng-if="! c.hidden">

            <h2 ng-class="{'hidden':c.hidden}" class="title">
                {{ c.name }}
            </h2>
            <div class="product-listing" >
                <span ng-repeat="p in c.products track by p.id"
                        class="product-box"

                        >
                    <button class="product-button text-left" ng-class="{ 'active' : p.enabled}" ng-click="addProduct( p )">
                        <img class="product-image" src="{{p.image}}" alt="image" ng-if="p.image.length">
                        <span class="product-name">
                         {{ p.name }}
                        </span>
                        <span class="badge">
                             {{ p.price }} €
                        </span>
                        <span class="badge badge-default" ng-if="show_config.stock_count">
                             {{ p.stockCount }}
                        </span>
                        <span class="badge badge-success" ng-if="show_config.sold">
                             <i class="fa fa-tick"></i>
                             {{ countProductsSoldForActiveFestival[p.id] }}
                        </span>
                    </button>
                     <button class="express-button" ng-if="show_config.expressSelling" ng-click="expressSell(p)" title="achat express sans compléter les infos du client">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </span>
            </div>
        </div>

    </div>
</div>
{% endverbatim %}
