{% verbatim %}
<button class="btn btn-primary btn-block validate_selling" ng-click="sendForm(event)"
        ng-disabled="!paidAmount">
    <i class="fa fa-check"></i>

    <span ng-if="paidAmount && CurrentSellingTotal() - paidAmount <=0">
        Valider
        </span>
    <span ng-if="paidAmount && CurrentSellingTotal() - paidAmount >0">
        <i class="fa fa-warning"></i>
    </span>
</button>
{% endverbatim %}
