{% verbatim %}
<!--            client actuel infos-->
<div id="client-now" class="client-now padded">
    <i class="fa fa-user"></i>

    <label for="sellingComment">

        Client actuel: {{ activeSelling.length }} produit<span ng-if="activeSelling.length!=1">s</span>
    </label>
    <button type="button" class="deleter pull-right" ng-click="sellingComment = ''">
        <i class="fa fa-times"></i>
    </button>
    <input type="text"
            class="form-control"
            aria-label="Note about the client"
            id="sellingComment"
            aria-describedby="selling-comment"
            ng-model="sellingComment"
            ng-model-options="{ updateOn: 'keyup' , allowInvalid: true}"
            name="sellingComment"
            autofocus="autofocus"
            placeholder="nom ou commentaire">

</div>
{% endverbatim %}
