{% extends 'base.html.twig' %}
{% block body %}
    {% verbatim %}
    <div id="caisse-now" class=""
    ng-app="caisse"
                ng-controller="CaisseCtrl as MainCtrl">
        <div class="caisse-main row-fluid" >

            <div class="col-xs-12 ">
            <!--  ligne d'informations-->

                    {% endverbatim %}
{#    {% include 'logged/listing-options.html.twig' %}#}
{#    {% include 'logged/festival-infos.html.twig' %}#}
    {#    </div>#}
    <div class="col-xs-12">

{#        {% include 'logged/customer.html.twig' %}#}
        {% verbatim %}

            </div>

             <!--états de sauvegarde-->
              <div class="selling-ok alert-success alert block" ng-if="sellingOk" ng-click="sellingOk = false">
                <i class="fa fa-save"></i>
                Sauvegardé! WOHOOOOOO +{{recentSellings[recentSellings.length -1].amount}} €
              </div>
               <div class="selling-ok alert-error alert block" ng-if="sellingError" ng-click="sellingError = false">
                <i class="fa fa-warning"></i>
                Problème de sauvegarde (pas de réseau ?)
              </div>
{% endverbatim %}
        {% include 'logged/caisse-main.html.twig' %}
        {% verbatim %}
 {% endverbatim %}

    </div>
{% endblock %}
