<div id="festival-current_info">
    <a class="btn " href=" {{ path('festival_index') }}">
        <i class="fa fa-th-large"></i>
        Festival:

        {% verbatim %}
{{activeFestival.name}}
  </a>
<!--    <input type="text" ng-model="activeFestival.name" placeholder="nom du festival">-->
<!--    <input class="pull-right" type="text" ng-model="activeFestival.commentaire" placeholder="commentaire">-->
    <span class="badge" title="fond de caisse + chiffre d'affaire. veillez à vider votre fond de caisse ailleurs lorsqu'il devient trop important, par exemple au dela de 200€" ng-class="{'badge-warning': activeFestival.fondDeCaisseAvant + activeFestival.chiffreAffaire > 200}">
        <i class="fa fa-archive"></i>
        {{ activeFestival.fondDeCaisseAvant + activeFestival.chiffreAffaire}} €
    </span>
    <span class="badge badge-success">
      CA {{ activeFestival.chiffreAffaire }} €
    <span ng-if="sellingOk">
    <i class="fa fa-check-circle-o"></i>
    </span>
    </span>
    <span class="badge badge-success">
    {{ activeFestival.clientsCount }} <i class="fa fa-user"></i>
    </span>
{% endverbatim %}
</div>
