{% extends 'base.html.twig' %}

{% block body %}
    <div class="row heading-of-list">
        <div class="col-xs-6">
            <h1>Série de Festivals</h1>
            <div class="well">
                une série de festival vous permet d'obtenir des statistiques sur plusieurs évènements à la fois. et de comparer
                des coûts et bénéfices d'une édition à une autre.
            </div>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" href="{{ path('seriefestival_new') }}">Nouvelle série</a>

        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Datecreation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for serieFestival in serieFestivals %}
            <tr>
                <td>
                    <a href="{{ path('seriefestival_show', { 'id': serieFestival.id }) }}">{{ serieFestival.id }}</a>
                </td>
                <td>{{ serieFestival.name }}</td>
                <td>{% if serieFestival.dateCreation %}{{ serieFestival.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seriefestival_show', { 'id': serieFestival.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seriefestival_edit', { 'id': serieFestival.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('seriefestival_new') }}">Nouvelle série</a>
        </li>
    </ul>
{% endblock %}
