{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id"
                content="938689189350-frtrg93bnva4b3p7c1al880mi3ts5i35.apps.googleusercontent.com">
        <title>{% block title %} {% trans %}menu.title{% endtrans %} - Fiche de compte dynamique{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
<body>

{% block navigation %}
{% endblock %}
<div id="bodyland">
    {% block bigMain %}

        {% include 'default/header.html.twig' %}
            <div class="container">
        <div class="row">

            <div class="col col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-offset-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>
            </div>
        {% include 'default/footer.html.twig' %}
    {% endblock %}
</div>
</body>
</html>
