{% extends 'base.html.twig' %}

{% block body %}
    <div class="row heading-of-list">
        <div class="col-xs-6">
            <h1>Catégorie de produit</h1></div>
        <div class="col-xs-6">
            <a class="btn btn-primary" href="{{ path('productcategory_new') }}">Nouvelle catégorie</a>
        </div>
    </div>


    <table class="table-responsive table-striped table table-bordered table-light">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Produits</th>
            <th>Vendus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for productCategory in productCategories %}
            <tr>
                <td>
                    <a class="btn btn-primary"
                            href="{{ path('productcategory_show', { 'id': productCategory.id }) }}">{{ productCategory.id }}</a>
                </td>
                <td><a class="btn btn-default btn-block"
                            href="{{ path('productcategory_edit', { 'id': productCategory.id }) }}">
                        {{ productCategory.name }}
                    </a></td>
                <td>{{ productCategory.products|length }}</td>
                <td>{{ productCategory.productsSold|length }}</td>
                <td>
                    <a class="btn btn-primary"
                            href="{{ path('productcategory_edit', { 'id': productCategory.id }) }}">
                        <i class="fa fa-pencil"></i>
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('productcategory_new') }}">Nouvelle catégorie</a>
{% endblock %}
