{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productcategory</h1>

    <table class="table-responsive table-striped table table-bordered table-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productCategory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productCategory.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('productcategory_index') }}">  <i class="fa fa-arrow-left"></i>Retour à la liste</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('productcategory_edit', { 'id': productCategory.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
