$dark: #222;
$light: #dedede;
$deepblue: #1b6d85;
$darkblue: mix(#000, $deepblue);
$lightblue: lightblue;
$grey: #e3e3e3;
$logo-color: mix($deepblue, $light);
$all-text-color: mix($deepblue, $light);

$primary: $deepblue;
$btn-primary-bg: $deepblue;