<!--ok loading done-->
<div id="loaded" ng-if="initLoadDone">
    <!--caisse IHM-->
    <div id="load_ok">
        <div id="listing-products" class="listing-products col-xs-12 col-md-8">
            {% include 'logged/angular/messages.html.twig' %}
            {% include 'logged/angular/listing-products.html.twig' %}

        </div>
        <div id="sellings" class="sellings col-xs-12 col-md-4">

            <div class="list-sell" ng-class="{'bg-success text-success': sellingOk }">

                {% include 'logged/angular/validate-button.html.twig' %}
                {% if app.user.products |length %}
                    {% include 'logged/angular/current.html.twig' %}
                {% endif %}

                {#{% include 'logged/angular/paused.html.twig' %}#}
            </div>
        </div>
    </div>
    <div id="other_time">
        {% include 'logged/angular/recent.html.twig' %}
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-8">
        {% include 'logged/angular/categ-options.html.twig' %}

    </div>
</div>
