{% verbatim %}
<div class="">
    <div class="row clickable" >
        <div class="col-xs-12 col-sm-6 text-right">
            <h3 ng-click="setRightAmountPaid()">Total: </h3>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <h3 ng-click="setRightAmountPaid()">
                <strong>
                    {{ CurrentSellingTotal() }}
                </strong>€
            </h3>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

        <div >
            Le client paie:
        </div>
        <div >
            <input class="text-right" type="number" id="paid_amount" ng-model="paidAmount">
        </div>
      </div>
    </div>
    <div class="alert alert-success" ng-if="paidAmount && CurrentSellingTotal() - paidAmount <=0">
        <h3>Rendu: {{ -1*(CurrentSellingTotal() - paidAmount) }} €</h3>
    </div>
    <div class="alert alert-warning" ng-if="paidAmount && CurrentSellingTotal() - paidAmount >0">
        <h3>il manque: {{ CurrentSellingTotal() - paidAmount }} €</h3>
    </div>
</div>
{% endverbatim %}
