{% extends 'base.html.twig' %}
{% block title %}Caisse{% endblock %}

    {% block bigMain %}
        {% include 'default/header.html.twig' %}
        <section class="bg-girl padded login-fosub">
            <div class="container">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-md-auto">
                        <fieldset class="bg-shader pull-left form-group padded">
                            {% block fos_user_content %}{% endblock %}
                        </fieldset>

                    </div>
                </div>
            </div>
        </section>
        {% include 'default/footer.html.twig' %}
    {% endblock %}
