{% extends 'base.html.twig' %}

{% block body %}
    <h1>Festival</h1>

    <table class="table-responsive table-striped table table-bordered table-light">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ festival.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ festival.name }}</td>
        </tr>
        <tr>
            <th>Datecreation</th>
            <td>{% if festival.dateCreation %}{{ festival.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('festival_index') }}">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('festival_edit', { 'id': festival.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
