{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    <p>enregistrement confirmé</p>
    {% if targetUrl %}
    <p>
       retour enregistrement
    </p>
    {% endif %}
{% endblock fos_user_content %}
