<footer class="big-footer text-center navbar-inverse navbar-footer ">
    <sub class="footer-note text-center">
        {% trans %}global.made_by{% endtrans %}
        <a href="https://mastodon.cipherbliss.com/@tykayn">
            <i class="fa fa-share-alt"></i>
        Tykayn -
        </a>
        <a href="https://www.cipherbliss.com">
            <i class="fa fa-world"></i>
            Cipher Bliss
        </a>
        <a href="https://framagit.org/tykayn/caisse-bliss">
            <i class="fa fa-gitlab"></i>
            sources de la Caisse Bliss
        </a>
        -
        <a href="https://framagit.org/tykayn/caisse-bliss/blob/master/LICENSE">
            <i class="fa fa-file-text"></i>
            Licence AGPL v3
        </a>
        -
        <a href="mailto:contact@cipherbliss.com">
            <i class="fa fa-envelope-o"></i>
            contact
        </a>
    </sub>
</footer>
