<div id="mass-register">
    <form action="{{ path('mass_create') }}" method="post">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <blockquote>
                    <strong>Vous pouvez copier et adapter cet exemple: </strong>
                    <pre id="example_mass_import">
catégorie: livre
    les moutaines;5€
    la laine des moutons;6€
    star wars spécial noël;7€
catégorie: poster
    super bannière A2;10€
    Sébastien Chabal sexy;10€
catégorie: dessin à la demande
    dessin A4 crayon;20€
    dessin A4 aquarelle;150€
</pre>
                    <a href="#filling_zone" id="use_example">
                        <i class="fa fa-arrow-down"></i>
                        Utiliser l'exemple
                    </a>
                </blockquote>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="well" id="filling_zone">

                    <label for="produits">
                        <h3>
                            Créez vos produits et leur catégorie en masse, un par ligne.
                        </h3>
                        Séparez le nom du produit de son prix avec un point virgule. vous n'êtes pas obligé de préciser
                        le symbole € pour le prix. Utilisez une virgule ou un point pour faire des prix à virgule. Si le
                        nom de catégorie existe déjà, le produit sera associé avec celle-ci.
                    </label>
                    <textarea style="width: 100%;" name="produits" id="produits" cols="30" rows="10"
                            placeholder="catégorie et produits">
catégorie: livre
        mon livre ; 5€
                </textarea>
                    <input class="btn btn-primary btn-block" type="submit" value="créer en masse">
                </div>
            </div>
        </div>


    </form>
</div>
