{% extends '@HWIOAuth/layout.html.twig' %}
    {% block bigMain %}
        {% include 'default/header.html.twig' %}
        <section class="bg-girl padded  login-hwioauth">
            <div class="container">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-md-auto">
                        <fieldset class="bg-shader pull-left form-group padded">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <h1>
                                                <i class="fa fa-key"></i>
                                                Se connecter
                                            </h1>
                                            {#<div class="alert alert-info">#}
                                            {#En raison de maintenance technique, seul le login via twitter fonctionne#}
                                            {#actuellement.#}
                                            {#</div>#}
                                            {% if error %}
                                                <div class="alert alert-danger">
                                                    {{ error|trans }}
                                                </div>
                                            {% endif %}

                                            <form action="#" method="post">
                                                {% if csrf_token is defined %}
                                                    csrf_token : {{ csrf_token }}
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                                {% else %}
                                                    <div class="alert alert-danger">

                                                        PAS DE TOKEN
                                                    </div>
                                                {% endif %}

                                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                                <input type="text" id="username" name="_username"
                                                        value="" required="required"
                                                        autocomplete="username"/>

                                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                                <input type="password" id="password" name="_password"
                                                        required="required"
                                                        autocomplete="current-password"/>

                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                                                <input type="submit" id="_submit" name="_submit"
                                                        value="{{ 'security.login.submit'|trans }}"/>
                                            </form>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            {#<p>#}

                                            {#<a class="btn btn-info" href="{{ path('fos_user_resetting_request') }}">#}
                                            {#Mot de passe oublié?#}
                                            {#</a>#}
                                            {#</p>#}
                                            <p>

                                                <a class="btn btn-info btn-block"
                                                        href="#">
                                                    Créer un compte
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    {#{% block hwi_oauth_content %}#}
                                    {#<h1>oauth login</h1>#}
                                    {#{% if error is defined and error %}#}
                                    {#<div class="alert alert-danger pull-left">{{ error|trans }}</div>#}
                                    {#{% endif %}#}

                                    {#<a class="btn btn-default btn-{{ "twitter" }}"#}
                                    {#href="{{ hwi_oauth_login_url("twitter") }}">#}
                                    {#<i class="fa fa-{{ "twitter" }}"></i>#}
                                    {#{{ "twitter" | trans({}, 'HWIOAuthBundle') }}#}
                                    {#</a>#}
                                    {#{% endblock hwi_oauth_content %}#}
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </section>
        {% include 'default/footer.html.twig' %}
    {% endblock %}
