.current-selling {
  ul {
    list-style-type: none;
  }
}
label{
  &.required{
    &:after{
      content: "*";
      color: red;
      margin-left: 1em;
    }
  }
}
table {
  width: 100%;
}

.btn-primary {
  background: $deepblue;
}

.product-box {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.remove-item{
  margin-left: -1rem;
}
