{% extends '::default/index.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}
    <h2>Le login</h2>
    <div class="row">
        <div class="col-xs-6">

            {% if error %}
                <div>{{ error|trans }}</div>
            {% endif %}

            <form action="#" method="post">
                {% if csrf_token is defined %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% else %}
                    PAS DE TOKEN CSRF
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="" required="required"
                        autocomplete="username"/>

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"
                        autocomplete="current-password"/>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </form>
        </div>
        <div class="col-xs-6">
            {#{% block hwi_oauth_content %}#}
            {#{% endblock %}#}
        </div>
    </div>


{% endblock %}
